# Python
__pycache__/
*.py[cod]
*.egg-info/

# Entornos virtuales
.venv/
venv/
env/

# PyInstaller
build/
dist/
*.spec.bak

# Estado local del gato (NO compartir)
save.json
dist/save.json

# IDE / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db